<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/navbar.ejs %>

	<div class="container">
		<h2>Database Results</h2>

		<% results.forEach(function(r) { %>
				<p><%= r.id %></p>
				<p><%= r.text %></p>
		<% }); %>
	</div>
</body>
</html>
