<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/navbar.ejs %>
	<p>So this will be the page with my about and description of me because I am awesome.  Duh.</p>
</body>
</html>
